assets/**/*.png
assets/**/*.jpg
!assets/team-logo.png
!assets/kuma-river/*.jpg
!assets/kuma-river/screenshots/*.jpg
!assets/otedama-master/*.png
!assets/otedama-master/*.jpg
!assets/otedama-master/screenshots/*.jpg
!assets/traffic-panic/*.png
!assets/traffic-panic/*.jpg
!assets/traffic-panic/screenshots/*.jpg
!assets/mokoshiba/*.png
!assets/mokoshiba/*.jpg
!assets/mokoshiba/screenshots/*.jpg
!assets/magic-battle/*.png
!assets/magic-battle/*.jpg
!assets/magic-battle/screenshots/*.jpg
